<figure class="text-center">
  <blockquote class="blockquote">
    <p>SE HA ELIMINADO CON EXITO</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Code in <cite title="Source Title">Simulaco.</cite>
  </figcaption>
</figure>

<a asp-controller="Users" asp-action="Index"> 
    <button class="btn btn-success" type="submit">volver</button>
</a>