@model User;

<figure class="text-center">
  <blockquote class="blockquote">
    <p>Editaras a Usuario.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Code in <cite title="Source Title">Simulaco.</cite>
  </figcaption>
</figure>

<div class="row">
    <div class="col-md-4">
        <form aps-action="Edit" asp-controller="Users">

            <div class="mb-3">
                <label for="" class="form-label">Nombre</label>
                <input  class="form-control" asp-for="@Model.Name" >
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Apellido</label>
                <input  class="form-control" asp-for="@Model.LastName">
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Correo</label>
                <input  class="form-control" asp-for="@Model.Email" >
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Fecha De nacimiento</label>
                <input  class="form-control" asp-for="@Model.BrithDate">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
    <a asp-controller="Users" asp-action="Index"> 
        <button class="btn btn-success mt-5" type="submit">volver</button>
    </a>
</div>